<mat-horizontal-stepper linear>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
            <ng-template matStepLabel>{{placeHolder}} Lab Basic Information</ng-template>
                <input type="hidden" formControlName="id" value="{{lab.id}}">
            <mat-form-field>
                <input matInput placeholder="Lab Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Lab Description" formControlName="description">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Lab Facilities" formControlName="facility" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Area" formControlName="area" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Address" formControlName="address" required></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Pin Code" formControlName="pinCode" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="city" required>
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                        {{city.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone" formControlName="phone" required>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Include area code</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contact Person Name" formControlName="contactPerson">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Certified By" formControlName="certifiedBy">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Van Facility</mat-label>
                <mat-select formControlName="vanFacility">
                    <mat-option *ngFor="let item of booleanValues" [value]="item.value">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
                <br/>
                <button mat-button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{placeHolder}} Lab Hours Information</ng-template>
        <label>Usual Working hours </label>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field>
                <input matInput placeholder="Usual Working Timings" formControlName="usualWorkingHours" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Sunday Working Timings" formControlName="sundayWorkingHours">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ultra Sound Working Timings" formControlName="ultraSoundWorkingHours">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Week Off Days" formControlName="offDay">
            </mat-form-field>
            <br/>
            <div style="padding: 20px">
                <button mat-button mat-raised-button matStepperPrevious type="button">Back</button>
                &nbsp;&nbsp;<button mat-button mat-raised-button matStepperNext type="button">Next</button>
            </div>
        </div>
        </form>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Lab Tests</ng-template>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div class="button-row">
            <mat-label>{{placeHolder}} tests supported by lab and their pricing  </mat-label>
            <button mat-raised-button (click)="openDialog()" matBadge="{{numberOfTests}}" matBadgePosition="after"
                    matBadgeColor="accent" color="primary">{{placeHolder}} Lab Test</button>
            </div>
            </div>
        <div class="button-row">
            <button mat-raised-button (click)="onClickSubmit()" color="primary">Save Lab</button>
        </div>
        <div class="button-row">
            <button mat-button mat-raised-button matStepperPrevious type="button">Back</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
