h7{
    font-size: 12px;
}
.labsInfo {
  padding: 10px 10px;
}
.cardSpacer{
  padding-bottom: 30px;
}
.textLeft{
  text-align: left;
}
mdb-card-title a{
  color: #00acc1;
}
mdb-card-title i{
  color: #00acc1;
}
mdb-card-text a {
  color: #00acc1;
  line-height: 28px;
}
mdb-card-text a:hover{
  text-decoration: underline;
  color: #00acc1;
  line-height: 28px;
}
