.card-body{
  flex: 1 1 auto;
  padding: 0rem;
}
.card-header {
  padding: 15px;
  color: white;
  background-color: #00acc0;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgb(17, 154, 171) 50%), linear-gradient(90deg, transparent 50%, rgb(7, 144, 160) 50%);
  background-size: 255px, 1px;
}
.card-content{
  padding: 25px;
}
h7{
    font-size: 12px;
}
del{
  color: red;
}
.labsInfo {
  padding: 10px 10px;
}
.cardSpacer{
  padding-bottom: 30px;
}
.textLeft{
  text-align: left;
}
.cyan-color{
 color:  #00acc0;
}
mdb-card-title a{
  color: #00acc1;
}
mdb-card-title i{
  color: #00acc1;
}
mdb-card-text a {
  color: #00acc1;
  line-height: 28px;
}
mdb-card-text a:hover{
  text-decoration: underline;
  color: #00acc1;
  line-height: 28px;
}
