<div class="search">
  <div class="container text-center white-text">
    <div class="roundCorners">
      <form [formGroup]="searchFormGroup" (ngSubmit)="onClickSubmit(searchFormGroup.value)">
        <div class="row">
          <div class="col">
            <span style="color: #3d8394; float: left;">Search the lab near you</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="example-form">
              <mat-form-field class="mat-field-full-width">
                <mat-label>City</mat-label>
                <mat-select formControlName="cityId" required>
                  <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{city.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm">
            <div class="example-form">
              <mat-form-field class="mat-field-full-width">
                <mat-label>Select Lab Test</mat-label>
                <mat-select multiple formControlName="testIds" [(ngModel)]="selectedTestOptions" required>
                  <mat-option *ngFor="let test of testList" [value]="test.id">
                    {{test.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm">
            <button mdbBtn type="submit" color="info" [disabled]="searchFormGroup.invalid" rounded="true"
                    mdbWavesEffect class="bigButton cyan darken-1">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<main>
  <div class="majorContainer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 cardSpacer" *ngFor="let labToDisplay of labsToDisplay">
          <mdb-card>

            <div class="card-header ">
              <h5><i class="fa fa-flask"></i><a class="spanClick"
                                                (click)="openLabDetails(labToDisplay.lab.id)">{{labToDisplay.lab.name}}</a>
              </h5>
            </div>
            <div class="container card-content">
              <div class="row">
                <div class="col-md-7 textLeft">
                  <h7><i class="fa fa-map-marker" aria-hidden="true"></i> {{labToDisplay.lab.area}}</h7>
                  <br>
                  <h7><i class="fa fa-thumbs-up" aria-hidden="true"></i> Certified By: {{labToDisplay.lab.certifiedBy}}
                  </h7>
                  <br>
                  <h7><i class="fa fa-address-card" aria-hidden="true"></i> Address: {{labToDisplay.lab.address}}
                    | {{labToDisplay.lab.pinCode}}</h7>
                  <br>
                  <h7><i class="fa fa-address-book" aria-hidden="true"></i> Contact
                    Person: {{labToDisplay.lab.contactPerson}} | {{labToDisplay.lab.phone}}</h7>
                  <br>
                  <h6><b><a style="color: #00acbf;" (click)="openLabDetails(labToDisplay.lab.id)"> More Details..</a></b></h6>
                </div>
                <div class="col-md-5 textLeft">
                  <h6><span style="padding-right: 10px"><del><i class="fa fa-inr"
                                                                aria-hidden="true"></i>{{labToDisplay.priceSection.totalBeforePrice}}</del></span>
                    <span><i class="fa fa-inr"
                                            aria-hidden="true"></i>{{labToDisplay.priceSection.totalFinalPrice}}</span>
                  </h6>
                  <h6 style="color: green">{{labToDisplay.priceSection.totalDiscount}}% Discount</h6>
                  <h6><b><a style="color: #00acbf;" (click)="openPriceBreakUpDialog(labToDisplay.lab.id)"> Price Break
                    Up</a></b></h6>
                  <br>
                  <a (click)="openLabBookingDialog(labToDisplay.lab.id)" mdbBtn class="btn btn-info cyan darken-1" mdbWavesEffect>Add To Cart</a>
                </div>

              </div>
            </div>

          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</main>
