
.header-image {
    background-image: url('../../../images/user.png');
    background-size: cover;
}
table {
    width: 90%;
}
.addButton{
    padding-bottom: 20px;
}
.example-icon {
    padding: 0 14px;
}
mat-form-field.mat-form-field {
    font-size: 14px;
}

.mat-dialog-content{
    padding-top: 20px;
}

