<div class="addButton">
    <button mat-raised-button (click)="openDialog(null,null,null)">Add New Test</button>
</div>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> Index</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Special Requirements Column -->
    <ng-container matColumnDef="specialRequirements">
        <th mat-header-cell *matHeaderCellDef> Special Requirements</th>
        <td mat-cell *matCellDef="let element"> {{element.specialRequirements}} </td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit
        </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="edit(row)">
                <mat-icon>create</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="delete(row)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    >
    </tr>

</table>
