<mat-card class="matCard">
<div class="form-container">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
    <form [formGroup]="formData">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email" formCxontrolName="email">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placehoxlder="Password" formControlName="password">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
      <br>
      <div class="example-button-row">
        <button mat-raised-button (click)="onClickSubmit(formData.value)" color="primary">Save Contact</button>
      </div>
    </form>
  </div>
</mat-card>
