<app-loader></app-loader>
<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><img src="../assets/logo.png"></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class=" " >
          <a href="tel:+918745045375" class="btn btn-info cyan darken-1 btn-rounded btn-sm waves-effect waves-light"><i class="fa fa-phone"></i>Call To Book</a>
        </li>
<!--        <li class=" " >-->
<!--          <a class="btn btn-info cyan darken-1 btn-rounded btn-sm waves-effect waves-light"><i class="fa fa-sign-in"></i>Login</a>-->
<!--        </li>-->
<!--        <li class="nav-item " >-->
<!--          <a class="btn btn-info cyan darken-1 btn-rounded btn-sm waves-effect waves-light"><i class="fa fa-user-plus"></i>Sign Up</a>-->
<!--        </li>-->
        <li class="nav-item waves-dark" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="nav-item waves-dark" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item waves-dark" mdbWavesEffect>
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- /.Main -->
</header>
<!--Main Layout-->

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-1 pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3" style="padding-left: 30px;">

        <!-- Content -->
        <h5 class="text-uppercase"><img src="../assets/logo_white.png" style="width: 250px;"></h5>
        <p>A Discount Providing Platform on all Diagnostic Services at your nearest Labs.</p>
        <ul class="social">
          <li><a href="https://www.facebook.com/bookmerilab" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/bookmerilab" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://plus.google.com/+Bookmerilab" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Quick Links</h5>

        <ul>
          <li><a href="https://bookmerilab.com/"><i class="fa fa-angle-right"></i> Home</a></li>
          <li><a href="https://bookmerilab.com/about"><i class="fa fa-angle-right"></i> About Us</a></li>
          <li><a href="https://bookmerilab.com/lab/diagnostic-centers-india"><i class="fa fa-angle-right"></i>Diagnostic Centers</a></li>
          <li><a href="https://bookmerilab.com/terms_condition"><i class="fa fa-angle-right"></i> Term of use</a></li>
          <li><a href="https://bookmerilab.com/privacy_policy"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
          <li><a href="https://bookmerilab.com/blog/refund-and-cancellation" target="_blank"><i class="fa fa-angle-right"></i> Refund Policy</a></li>
          <li><a href="https://bookmerilab.com/faq"><i class="fa fa-angle-right"></i> FAQ </a></li>
          <li><a href="#" target="_blank"><i class="fa fa-angle-right"></i> Career</a></li>
          <li><a href="https://bookmerilab.com/blog" target="_blank"><i class="fa fa-angle-right"></i> Blog</a></li>
          <li><a href="https://bookmerilab.com/blog/contact-us" target="_blank"><i class="fa fa-angle-right"></i> Contact Us</a></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Location</h5>

        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> Pocket 2, Sector-12, Dwarka,New Delhi</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:8882-36-8882">8882-36-8882</a></li>
          <li><i class="fa fa-whatsapp" aria-hidden="true"></i> <a target="_blank" href="https://web.whatsapp.com/send?phone=9999216869&amp;text=Hi!"> +91 8882-36-8882</a></li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:care@bookmerilab.com">care@bookmerilab.com</a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> HealthKiran.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
