.view {
  background: url("../assets/bg.jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.logo img {
  width: 250px;
}
.afterLogo {
  padding-left: 30px;
}
i{
  padding-right: 5px;
}

.roundCorners {
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px rgba(0, 0, 0, .5);
}
.bigButton{
  width:200px;
}
.bigSelect{
  width:300px;
}
.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}
.mat-input-element {
  color: black;
}
.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
.black{
  color: black;
}
.imageLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
