@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  margin: 0;
  height: 100%;
}
mat-toolbar.h2{
  font: 500 20px/32px Open Sans,sans-serif;
}
mat-toolbar.mat-toolbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 90%;
}
.addButton{
  padding-bottom: 20px;
}
.example-icon {
  padding: 0 14px;
}
mat-form-field.mat-form-field {
  font-size: 14px;
}
.mat-dialog-actions-padding{
  padding: 20px 0px 20px 0px;
}
.mat-dialog-content{
  padding-top: 20px;
  height: auto;
}
.form-container{
  padding: 30px;
}
.matCard {
  width: 90%;
  height: auto;
  box-sizing: border-box;
}
.dialogContainer{
  padding: 25px 50px 0px 25px;
}
